body{
    background-color: #e2e2e2;
}
.form-signin{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#h2One{
    
    color: rgb(153, 119, 55);
    font-size: 30px;
}
.main{
    display: flex;
    flex-direction: column;
}

.input-one ,label,input{
    margin: 20px;
    width: 500px;
    height: 40px;
    border:1px #e2e2e2b9 solid ;
    border-radius: 5px;
    
}
.Button{
    margin: 40px;
    text-align: center;
   
}
 button{
    background-color: orange;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    width: 100px;
    height: 40px;
    color: whitesmoke;
     
}
button:hover{
    background-color: rgb(255, 168, 5);
    border: 2px solid whitesmoke;
    border-radius: 5px;
    font-size: 15px;
    width: 100px;
    height: 40px;
    color: whitesmoke;
     
}

